@charset "UTF-8";
/* 全体 */
* {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: bold;
}

.p-heading__inner {
  padding-top: 40px;
}

@media screen and (min-width: 680px) {
  .p-heading__inner {
    padding-top: 80px;
  }
}

.c-wrapper--lg {
  max-width: 1200px;
}

.p-premium-heading-voice__text {
  letter-spacing: .2rem;
  font-size: 13px;
  padding-bottom: 10px;
}

/* 背景固定に */
#section-66 .c-bg-img, #section-66 .c-bg-img--cover, #section-87 .c-bg-img, #section-87 .c-bg-img--cover, #section-16 .c-bg-img,
#section-16 .c-bg-img--cover, #section-91 .c-bg-img,
#section-91 .c-bg-img--cover, #section-86 .c-bg-img,
#section-86 .c-bg-img--cover, #section-64 .c-bg-img,
#section-64 .c-bg-img--cover {
  background-attachment: fixed;
}

/*=================
base_3 色の設定
=================*/
/*================================================
template_1-1 nav [data-block-name="左画像+右メニュー（上部固定）"]
================================================*/
[data-block-name="左画像+右メニュー（上部固定）"] {
  background-color: rgba(255, 255, 255, 0);
}

[data-block-name="左画像+右メニュー（上部固定）"] .grid-wrapper--lg {
  max-width: 100%;
}

[data-block-name="左画像+右メニュー（上部固定）"] .p-header, [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] .p-navigation .c-inner {
  padding: 10px 0;
}

@media screen and (max-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li {
    margin-right: 0;
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] li a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 20px;
  border-left: 1px solid #f3f3f3;
}

@media screen and (max-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li a {
    padding: 20px;
    border-left: none;
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] li a:hover {
  background-color: #ece5c7;
  text-decoration: none;
}

[data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
  font-size: 1.4vw;
}

@media screen and (min-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
    padding: 10px 20px;
    border-right: 1px solid #fff;
    background-color: #cc9c00;
    -webkit-text-decoration: auto;
            text-decoration: auto;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a:hover {
    opacity: .5;
  }
}

@media screen and (max-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
    background-color: #cc9c00;
    color: #fff;
  }
}

@media screen and (max-width: 479px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
    font-size: 16px;
  }
}

@media screen and (min-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"].header_scrollset {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) and (max-width: 1166px) {
  .p-m_navigationMenu li a {
    padding: 3px .8vw;
    font-size: 1.4vw;
  }
  .p-header__logo > img {
    max-height: 35px;
  }
  .p-m_navigationMenu li:last-of-type a {
    padding: 1.2vw;
  }
}

@media only screen and (min-width: 1px) and (max-width: 480px) {
  .p-header__logo > a > img, .p-header__logo > img {
    max-height: 34px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  .p-header__nav-heading {
    padding: 0;
  }
}

/*================================================
template_3-1 top-buttom [data-block-name="HTML埋め込み(横幅フル)"]
================================================*/
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

@media screen and (max-width: 680px) {
  #pageTop {
    bottom: 0;
    right: 13px;
  }
}

#pageTop i {
  padding-top: 6px;
}

.fa-chevron-up:before {
  content: "\f062";
  font-size: 24px;
  color: #a3a590;
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 10px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#pageTop a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #a3a590;
  opacity: 0.7;
}

#pageTop a:hover .fa-chevron-up:before {
  color: #fff;
}

[data-block-name="HTML埋め込み(横幅フル)"] .c-inner {
  padding: 0;
}

/* コンテンツ上下アキ
.p-premium-heading-voice__body {padding:4rem 0;} */
/* ボタンの幅変更 */
#section-93 .col-sm-4, #section-94 .col-sm-4, #section-95 .col-sm-4 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  max-width: 50%;
}

@media screen and (max-width: 681px) {
  #section-93 .col-sm-4, #section-94 .col-sm-4, #section-95 .col-sm-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

#section-26 .c-btn .btn-customform-submit .u-mbmd {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 35%;
}

@media screen and (max-width: 681px) {
  #section-26 .c-btn .btn-customform-submit .u-mbmd {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

#section-93 .c-inner--one-elem.c-inner--lg, #section-94 .c-inner--one-elem.c-inner--lg, #section-95 .c-inner--one-elem.c-inner--lg {
  padding: 30px 0;
}

/* ボタン個別 */
.theme-yoga .c-btn a, .theme-yoga .c-btn input, .theme-yoga .c-btn button, .c-btn .btn-customform-submit {
  background-color: #fff !important;
  color: #745d00;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.theme-yoga .c-btn a:hover, .theme-yoga .c-btn input:hover, .theme-yoga .c-btn button:hover, .c-btn .btn-customform-submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 480px) {
  #section-93 .u-mbmd--sp {
    margin-bottom: 0px;
    padding: 0px 4px;
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    max-width: 50%;
  }
  #section-93 .u-mbmd--sp a {
    font-size: 12px;
  }
}

#section-20 .grid-wrapper {
  max-width: 100%;
}

.p-premium-heading-voice__body::before, .p-premium-heading-voice__body::after {
  background-color: #745d00;
  height: 50%;
}

h1 {
  background-color: #e9d35f;
  text-align: center;
  color: #62481f;
}

@media screen and (min-width: 680px) {
  h1 br {
    display: none;
  }
}

/* 結論行間ひろめ */
#section-91 h2, #section-91 .c-inner--vertical {
  letter-spacing: 0;
}

@media screen and (min-width: 480px) {
  #section-91 h2, #section-91 .c-inner--vertical {
    line-height: 4rem;
  }
}

#section-91 .c-wrapper--sm {
  max-width: 800px;
}

@media screen and (max-width: 681px) {
  #section-91 .c-wrapper--sm {
    max-width: 800px;
    text-align: justify;
  }
  #section-91 .c-wrapper--sm br + br {
    display: none;
  }
}

/* 結論アイコン、2列へ */
#section-66 .col-xs-12 {
  -webkit-flex-basis: 50%;
}

@media screen and (max-width: 681px) {
  #section-66 .col-xs-12 {
    max-width: 50%;
  }
}

#section-66 .col-xs-12 img {
  max-width: 180px;
}

@media screen and (max-width: 681px) {
  #section-66 .col-xs-12 img {
    max-width: 100%;
  }
}

#section-66 .c-wrapper {
  max-width: 1000px;
}

/* 実績紹介_ナナメ吹き出し */
/* 担当者_ナナメ吹き出し白に
#section-69 .p-premium-heading-voice__body:before{background-color: #fff; width: 90px;}
#section-69 .p-premium-heading-voice__body:after{background-color: #fff; width: 90px;} */
/* 担当者 */
#section-70 .col-xs-12 {
  padding: 10px;
  max-width: 50%;
  -webkit-flex-basis: 50%;
}

@media screen and (min-width: 680px) {
  #section-70 .col-xs-12 {
    max-width: 25%;
    -webkit-flex-basis: 25%;
  }
}

#section-70 img {
  border-radius: 50%;
  max-width: 120px;
  -webkit-box-shadow: 0 60px 0 white;
          box-shadow: 0 60px 0 white;
}

#section-70 .row-item-gutter--lg {
  margin: 0;
}

/* フロー */
#section-16 .c-heading--bdr-btm {
  border: none;
  padding: 0;
}

#section-16 .c-border {
  border-color: #e2cc64;
  border-radius: 25px;
}

.theme-yoga .p-list-step-has-img:not(:last-child) .c-border:before {
  border-top: 20px solid #e2cc64 !important;
}

#section-16 .c-inner--lg {
  padding-bottom: 80px;
}

/* 制作期間、制作プラン */
@media screen and (min-width: 680px) {
  #section-87 img, #section-89 img {
    max-width: 700px;
  }
}

/* フォーム */
#section-26 .c-form {
  background-color: transparent;
}

#section-26 .c-form input[type="text"], .c-form input[type="email"], .c-form textarea, .c-form select {
  border-radius: 40px;
  padding: 15px;
}

#section-26 .c-inner--one-elem.c-inner--lg {
  padding-top: 0;
}

#section-26 .c-wrapper--sm {
  max-width: 800px;
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
  #section-26 .u-mbmd--sp {
    margin-bottom: 500px;
  }
}

.c-form input:placeholder-shown {
  padding: 8px 16px !important;
}

.c-form textarea:placeholder-shown {
  border-radius: 10px;
  padding: 8px !important;
}

@media screen and (min-width: 680px) {
  #section-97 h2 {
    line-height: 7rem;
  }
}

#section-97 .c-inner {
  padding-top: 15px;
}

#section-84 .c-inner {
  padding-bottom: 50px;
  max-width: 700px;
  margin: auto;
}

#section-97 .c-btn a {
  min-width: 10%;
}

#section-98 {
  background-image: url(//cdn.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5d084fc363f96/original.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#section-98 .row-item-gutter--none {
  padding-bottom: 30px;
}

#section-98 .c-img--full img {
  border-radius: 6px;
}

#section-98 .c-img--full {
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 680px) {
  #section-98 .c-img--full {
    margin: 6px 6px 12px;
  }
}

#section-98 .c-img--full:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#section-98 .c-img--full img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

#section-98 a::after {
  top: 5px;
  right: 0;
  position: absolute;
  color: #fff;
}

@media screen and (min-width: 680px) {
  #section-98 a::after {
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    font-weight: 900;
    margin: 0 8px;
  }
}

#section-98 a:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
}

#section-98 a:hover::before {
  content: 'more';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.6rem;
}

#section-98 .c-inner--vertical {
  padding: 0;
}

@media screen and (min-width: 480px) {
  #section-98 .c-img--full {
    max-height: 8.4vw;
  }
}

#section-101 [data-mce-style="color: #ffffff; background-color: #e8412e;"] {
  padding: 5px 5px 3px;
}

#section-101 [data-custom-pc-fontsize="14px"] {
  color: white;
  background-color: #271411 !important;
  line-height: 1em;
  padding: .6em;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 681px) {
  #section-101 [data-custom-pc-fontsize="14px"] {
    margin-bottom: 0.4em;
  }
}

#section-101 [data-custom-pc-fontsize="14px"]::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  margin-top: -0.4em;
  border: 0.4em solid transparent;
  border-left: 0.4em solid #271411;
}

@media screen and (max-width: 681px) {
  #section-101 [data-custom-pc-fontsize="14px"]::after {
    top: 115%;
    left: 50%;
    margin-left: -0.4em;
    border: 0.4em solid transparent;
    border-top: 0.4em solid #271411;
  }
}

#section-101 [data-custom-pc-fontsize="22px"] {
  letter-spacing: .1em;
}

@media screen and (max-width: 681px) {
  #section-101 [data-custom-pc-fontsize="22px"] {
    font-size: 4.5vw !important;
    margin-top: 10px;
    display: block;
  }
}

#section-101 .row-item-gutter--lg > [class*='col-'] {
  padding: 1rem;
}

@media screen and (max-width: 681px) {
  #section-101 .row-item-gutter--lg > [class*='col-'] {
    max-width: 85%;
    margin-bottom: 0;
  }
}

#section-101 .c-inner--one-elem {
  padding-bottom: 30px;
}

#section-101 .c-heading {
  margin-bottom: 10px;
}

#section-102 {
  background-image: url(//cdn.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5d0728a588af1/original.jpg);
}

#section-102 .c-inner {
  padding-top: 0;
}

#section-102 .c-wrapper {
  max-width: 750px;
}

#section-102 details {
  margin-bottom: 30px;
}

#section-102 summary {
  padding: 14px 20px;
  background-color: #e8a427;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#section-102 summary:hover {
  opacity: .5;
}

#section-102 details table {
  margin-top: 10px;
}

@media screen and (max-width: 681px) {
  #section-102 details .option-table {
    overflow: scroll;
  }
}

@media screen and (max-width: 681px) {
  #section-102 details tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#section-102 details th, #section-102 details td {
  border: 1px solid #d4d4d4;
}

#section-102 details th {
  min-width: 150px;
  background-color: #ece7a0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#section-102 details td {
  background-color: #fff;
}

#section-102 details td:nth-of-type(1) {
  text-align: center;
  background-color: #f9f7e7;
  width: 28%;
}

#section-102 details td:nth-of-type(2) {
  font-size: 14px;
  font-weight: normal;
}

#section-102 details td:nth-of-type(3) {
  text-align: right;
}

#section-102 details:nth-of-type(2) summary {
  background-color: #91bb2c;
}

#section-102 details:nth-of-type(2) th {
  background-color: #dce8a8;
}

@media screen and (max-width: 479px) {
  #section-72 img {
    display: none;
  }
  #section-72 .c-inner {
    height: 133vw;
  }
}
