$main-color:#e2cc64;
@mixin tabicon{
  font-family: "Font Awesome 5 Free";
  content: '\f35d';
  font-weight: 900;
  margin: 0 8px;
}

$breakpoints: (
  'sm': 'screen and (min-width: 479px)',
  'md': 'screen and (min-width: 680px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1100px)',
  '-sm': 'screen and (max-width: 479px)',
  '-md': 'screen and (max-width: 681px)',
) !default;
@mixin mq($breakpoint: md) {@media #{map-get($breakpoints, $breakpoint)} {@content;}}

/* 全体 */
* {font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif; font-weight: bold;}

//共通
.p-heading__inner{
  padding-top: 40px;
  @include mq(){padding-top: 80px;}
}
.c-wrapper--lg{max-width: 1200px;}
.p-premium-heading-voice__text{
  letter-spacing: .2rem;
  font-size: 13px;
  padding-bottom: 10px;
}

/* 背景固定に */
#section-66 .c-bg-img, #section-66 .c-bg-img--cover,#section-87 .c-bg-img, #section-87 .c-bg-img--cover,#section-16 .c-bg-img,
#section-16 .c-bg-img--cover,#section-91 .c-bg-img,
#section-91 .c-bg-img--cover,#section-86 .c-bg-img,
#section-86 .c-bg-img--cover,#section-64 .c-bg-img,
#section-64 .c-bg-img--cover{background-attachment: fixed;}


/*=================
base_3 色の設定
=================*/
$main-color:#cc9c00;
$main_pale-color:#ece5c7;

/*================================================
template_1-1 nav [data-block-name="左画像+右メニュー（上部固定）"]
================================================*/
[data-block-name="左画像+右メニュー（上部固定）"]{
  background-color: rgba(255,255,255,0);
  .grid-wrapper--lg{max-width: 100%;}
  .p-header,.p-m_navigation{background-color: rgba(0,0,0,0);}
  .p-m_navigation{@include mq(-md){background-color: rgba(255,255,255,.8);}}
  .p-navigation .c-inner{padding: 10px 0;}
  li{
    @include mq(-md){
      margin-right: 0;
    }
  }
  li a{
    text-decoration: none;
    transition: all .3s;
    padding: 20px;
    border-left: 1px solid #f3f3f3;
    @include mq(-md){
      padding: 20px;
      border-left: none;
    }
    &:hover{
      background-color: $main_pale-color;
      text-decoration: none;
    }
  }
  li:last-of-type a{
    font-size: 1.4vw;
    @include mq(){
      padding: 10px 20px;
      border-right: 1px solid #fff;
      background-color: $main-color;
      text-decoration: auto;
      border-radius:30px;
      color: #fff;
      font-size: 16px;
      transition: all .3s;
      &:hover{opacity: .5;}
    }
    @include mq(-md){
      background-color: $main-color;
      color: #fff;
    }
    @include mq(-sm){
      font-size: 16px;
    }
  }
  @include mq(){
    &.header_scrollset{background-color: rgba(255,255,255,.6);}
  }
}
@media screen and (min-width:768px) and ( max-width:1166px) {
  .p-m_navigationMenu li a{
    padding: 3px .8vw;
    font-size: 1.4vw;
  }
  .p-header__logo > img {
    max-height: 35px;
  }
  .p-m_navigationMenu li:last-of-type a {
    padding: 1.2vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 480px){.p-header__logo > a > img, .p-header__logo > img {max-height: 34px;}}
@media only screen and (min-width: 1px) and (max-width: 768px){.p-header__nav-heading {padding: 0;}}

/*================================================
template_3-1 top-buttom [data-block-name="HTML埋め込み(横幅フル)"]
================================================*/
#pageTop { position: fixed; bottom: 20px; right: 20px; z-index: 999; }
@media screen and (max-width: 680px) { #pageTop { bottom: 0; right: 13px; } }
#pageTop i { padding-top: 6px; }
.fa-chevron-up:before { content: "\f062"; font-size: 24px; color: #a3a590; }
#pageTop a { display: block; z-index: 999; padding: 10px; border-radius: 30px; width: 60px; height: 60px; background-color: #fff; font-weight: bold; text-decoration: none; text-align: center; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1); transition: all .3s; }
#pageTop a:hover { box-shadow: none; background-color: #a3a590; opacity: 0.7; }
#pageTop a:hover .fa-chevron-up:before { color: #fff; }
[data-block-name="HTML埋め込み(横幅フル)"] .c-inner { padding: 0; }

/* コンテンツ上下アキ
.p-premium-heading-voice__body {padding:4rem 0;} */

/* ボタンの幅変更 */
#section-93 .col-sm-4, #section-94 .col-sm-4, #section-95 .col-sm-4 {
  flex-basis: 35%; max-width: 50%;
  @include mq(-md){flex-basis: 100%; max-width: 100%;}
}
#section-26 .c-btn .btn-customform-submit .u-mbmd {
  flex-basis: 100%; min-width: 35%;
  @include mq(-md){flex-basis: 100%; max-width: 100%;}
}

#section-93 .c-inner--one-elem.c-inner--lg, #section-94 .c-inner--one-elem.c-inner--lg, #section-95 .c-inner--one-elem.c-inner--lg {padding: 30px 0;}

/* ボタン個別 */
.theme-yoga .c-btn a, .theme-yoga .c-btn input, .theme-yoga .c-btn button, .c-btn .btn-customform-submit {
  background-color: #fff !important;
  color: rgb(116, 93, 0);
  border-radius:50px;
  box-shadow:rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
  transition: all .3s;
  font-weight: bold;
  &:hover{
    box-shadow: none;
  }
}

@media screen and (max-width: 480px){
#section-93 .u-mbmd--sp {
  margin-bottom:0px;
  padding: 0px 4px;
  flex-basis: 46%;
  max-width: 50%;
   a{font-size:12px;}
}
}

#section-20 .grid-wrapper {
  max-width: 100%;
}
.p-premium-heading-voice__body{
  &::before,&::after{
    background-color: rgb(116, 93, 0);
    height: 50%;
   }
}

h1{
  background-color: #e9d35f;
  text-align: center;
  color: #62481f;
  br{
    @include mq(md){
     display: none;
    }
  }
}

/* 結論行間ひろめ */
#section-91 h2, #section-91 .c-inner--vertical{letter-spacing:0;}
@media screen and (min-width: 480px) {
#section-91 h2, #section-91 .c-inner--vertical{line-height: 4rem;}
}
#section-91 .c-wrapper--sm{
  max-width: 800px;
}
@include mq(-md){
  #section-91 .c-wrapper--sm{
    max-width: 800px;
    text-align: justify;
    br+br{display: none;}
  }
}

/* 結論アイコン、2列へ */
#section-66 .col-xs-12{
  -webkit-flex-basis: 50%;
  @include mq(-md){max-width: 50%;}
  img{
    max-width: 180px;
    @include mq(-md){max-width: 100%;}
  }
}
#section-66 .c-wrapper{max-width: 1000px;}

/* 実績紹介_ナナメ吹き出し */

/* 担当者_ナナメ吹き出し白に
#section-69 .p-premium-heading-voice__body:before{background-color: #fff; width: 90px;}
#section-69 .p-premium-heading-voice__body:after{background-color: #fff; width: 90px;} */

/* 担当者 */
#section-70{
  .col-xs-12{
    padding: 10px;
    max-width: 50%;
    -webkit-flex-basis: 50%;
    @include mq(){
      max-width: 25%;
      -webkit-flex-basis: 25%;
    }
  }
  img{
    border-radius: 50%;
    max-width: 120px;
    box-shadow: 0 60px 0 rgb(255,255,255);
  }
  .row-item-gutter--lg{
    margin: 0;
  }
}

/* フロー */
#section-16 .c-heading--bdr-btm {border: none; padding: 0;}
#section-16 .c-border {border-color: #e2cc64; border-radius: 25px;}
.theme-yoga .p-list-step-has-img:not(:last-child) .c-border:before {border-top: 20px solid #e2cc64 !important;}
#section-16 .c-inner--lg{padding-bottom: 80px;}

/* 制作期間、制作プラン */
@include mq(){
#section-87,#section-89{
  img{max-width: 700px;}
}
}

/* フォーム */
#section-26 .c-form {background-color: transparent;}
#section-26 .c-form input[type="text"], .c-form input[type="email"], .c-form textarea, .c-form select{border-radius: 40px;
 padding: 15px;}
#section-26 .c-inner--one-elem.c-inner--lg {padding-top: 0;}
#section-26 .c-wrapper--sm{max-width: 800px;}
@media only screen and (max-width: 768px) and (min-width: 1px){
#section-26 .u-mbmd--sp {margin-bottom: 500px;}
}
.c-form input:placeholder-shown{padding: 8px 16px !important;}
.c-form textarea:placeholder-shown{
  border-radius: 10px;
  padding: 8px!important;
}
//制作事例
#section-97 h2{
  @include mq(){
  line-height: 7rem;
  }
}
#section-97 .c-inner{padding-top: 15px;}
#section-84 .c-inner{
  padding-bottom: 50px;
  max-width: 700px;
  margin: auto;
}
#section-97 .c-btn a{min-width: 10%;}
#section-98{
  background-image: url(//cdn.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5d084fc363f96/original.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  .row-item-gutter--none{padding-bottom: 30px;}
  .c-img--full img{border-radius: 6px;}
  .c-img--full{
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    margin: 6px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    position: relative;
    transition: all .3s;
    @include mq(){margin: 6px 6px 12px;}
    &:hover{box-shadow:none;}
    img{
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }
  a::after{
    @include mq(){@include tabicon;}
      top: 5px;
      right: 0;
      position: absolute;
      color: #fff;
    }
    a:hover{transition: all .3s;
    &::before{
    content: 'more';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background-color: rgba(0,0,0, 0.3);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size:1.6rem;
    }
  }
  .c-inner--vertical{
    padding: 0;
  }
}

@media screen and (min-width: 480px){
  #section-98 .c-img--full{
    max-height: 8.4vw;
  }
}

//mv下のボタンエリア
#section-101{
  [data-mce-style="color: #ffffff; background-color: #e8412e;"]{
    padding: 5px 5px 3px;
  }
  [data-custom-pc-fontsize="14px"]{
    color: rgb(255, 255, 255);
    background-color: rgb(39,20,17) !important;
    line-height: 1em;
    padding: .6em;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    @include mq(-md){
    margin-bottom: 0.4em;
    }
    &::after{
      position: absolute;
      content: "";
      top: 50%;
      left: 100%;
      margin-top: -0.4em;
      border: 0.4em solid transparent;
      border-left: 0.4em solid #271411;
      @include mq(-md){
  top: 115%;
  left: 50%;
  margin-left: -0.4em;
  border: 0.4em solid transparent;
  border-top: 0.4em solid #271411;
      }
    }
  }
  [data-custom-pc-fontsize="22px"]{
    letter-spacing: .1em;
    @include mq(-md){
      font-size: 4.5vw!important;
      margin-top: 10px;
      display: block;
    }
  }
  .row-item-gutter--lg > [class*='col-']{
    padding: 1rem;
    @include mq(-md){
      max-width: 85%;
      margin-bottom: 0;
    }
  }
  .c-inner--one-elem{padding-bottom: 30px;}
  .c-heading{margin-bottom: 10px;}
}

//オプションプラン
#section-102{
  background-image: url(//cdn.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5d0728a588af1/original.jpg);
  .c-inner{padding-top: 0;}
  .c-wrapper{max-width: 750px;}
  details{
    margin-bottom: 30px;
  }
  summary{
    padding: 14px 20px;
    background-color: #e8a427;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
    &:hover{opacity: .5;}
  }
  details{
    table{margin-top: 10px;}
    .option-table{@include mq(-md){overflow: scroll;}}
    tr{
      @include mq(-md){
        display: flex;
      }
    }
    th,td{border: 1px solid #d4d4d4;}
    th{
    min-width: 150px;
    background-color: #ece7a0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    }
    td{
      background-color: #fff;
      &:nth-of-type(1){text-align: center; background-color: #f9f7e7; width: 28%;}
      &:nth-of-type(2){font-size: 14px;font-weight: normal;}
      &:nth-of-type(3){text-align: right;}
    }
  }
  details:nth-of-type(2){
    summary{
      background-color: #91bb2c;
    }
    th{background-color: #dce8a8;}
  }
}

@include mq(-sm){
  #section-72 img{display: none;}
  #section-72 .c-inner{height: 133vw;}
}
